binder_call(hal_fancontroller_client, hal_fancontroller_server)
binder_call(hal_fancontroller_server, hal_fancontroller_client)
hal_attribute_hwservice(hal_fancontroller, hal_fancontroller_hwservice)